In [ ]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import json
import os
import psycopg2

In [ ]:
#read from the backup file
def read_file(file_name):
    fileDir = os.path.dirname(os.path.realpath('__file__'))
    filename = os.path.join(fileDir, 'backups/'+file_name)
    with open(filename) as my_file:
        db_conf = json.load(my_file)
    return db_conf

In [ ]:
#data element table analysis
json_data = read_file('dim_dhis_dataelement')
data_element_dframe = DataFrame(json_data['data']).set_index('index')

data_element_dframe.dtypes
# data_element_dframe[['dataelementname','description']]

In [ ]:
data_element_dframe[['dataelementid',]]

In [96]:
data_element_dframe[data_element_dframe['dataelementid']==510477]['dataelementname']

index
54    Microscope slides (TB-RELATED LABORATORY COMMO...
Name: dataelementname, dtype: object

In [90]:
#data value table analysis
json_data = read_file('fact_dhis_datavalue')
data_value_dframe = DataFrame(json_data['data']).set_index('index')

data_value_dframe.dtypes
# data_value_dframe[['periodid']]

_datecreated              object
_eventexecutionkey        object
_lastaction               object
_mergekey                 object
_sourcesystemcode         object
attributeoptioncomboid     int64
categoryoptioncomboid      int64
comment                   object
created                   object
dataelementid              int64
followup                  object
lastupdated               object
periodid                   int64
sourceid                   int64
storedby                  object
value                     object
dtype: object

In [108]:
data_value_dframe[['periodid','value']]

       periodid value
index
0       1185021    57
1       1185021     6
2       1185021    29
3       1185021    20
4       1185021     1
5       1185021    33
6       1185021     1
7       1185021     4
8       1185021    23
9       1185021    25
10      1185021     6
11      1185021    41
12      1185021    38
13      1185021     3
14      1185021   278
15      1185021     6
16      1185021     1
17      1185021    28
18      1185021   640
19      1185021    27
20      1185021    17
21      1185021     3
22      1185021   154
23      1185021    16
24       723879    63
25      1185021   113
26      1185021    13
27      1185021  1000
28      1185021     2
29      1185021    63
...         ...   ...
70      1185021    14
71      1185021     1
72      1185021   201
73      1185021   304
74      1185021   176
75      1185021    33
76      1185021     2
77      1185021    17
78      1185021     1
79      1185021  2305
80      1185021     2
81      1185021     1
82      1185021     7
83      1185021    10
84      1185021   386
85      1185021    15
86      1185021    10
87      1185021     2
88      1185021    11
89      1185021     1
90      1185021     9
91      1185021    42
92      1185021    41
93      1185021     8
94      1185021    32
95      1185021     8
96      1185021    20
97      1185021   169
98      1185021   250
99      1185021     2

[100000 rows x 2 columns]

In [91]:
data_value_dframe[:1][['dataelementid','value']]

       dataelementid value
index
0             510477    57

In [ ]:
#dhis period table analysis
json_data = read_file('dim_dhis_period')
period_frame = DataFrame(json_data['data']).set_index('index')

period_frame.dtypes
# data_value_frame[['periodid']]

In [105]:
period_frame[['yearmonth']]

      yearmonth
index
0        2010 1
1        2010 2
2        2010 3
3        2010 4
4        2010 5
5        2010 6
6        2009 6
7        2009 1
8        2009 2
9        2009 3
10       2009 4
11       2009 7
12       2009 8
13       2009 9
14      2009 10
15      2009 11
16      2009 12
17       2009 5
18      2010 10
19       2010 9
20       2010 8
21       2010 7
22       2009 1
23       2010 1
24       2010 7
25      2010 11
26      2010 12
27       2010 1
28       2005 1
29       2011 1
...         ...
1        2015 7
2        2015 7
3        2015 7
4        2015 7
5        2015 7
6        2015 7
7        2015 7
8        2015 7
9        2015 7
10       2015 7
11       2015 7
12       2015 7
13       2015 7
14       2015 8
15      2015 12
16       2015 8
17       2015 7
18       2015 8
19       2015 8
20       2016 4
21       2015 8
22       2015 8
23       2015 8
24       2015 8
25       2015 8
26       2015 8
27       2015 8
28       2015 8
29      2019 10
30       2015 8

[2231 rows x 1 columns]

In [106]:
period_frame[period_frame['periodid']==1185021]

,_datecreated,_eventexecutionkey,_lastaction,_mergekey,_sourcesystemcode,enddate,periodid,periodtypeid,periodtypename,startdate,yearmonth
index,,,,,,,,,,,
64,None,None,None,None,None,2014-11-30T00:00:00.000Z,1185021,5,Monthly,2014-11-01T00:00:00.000Z,2014 11

In [ ]:
#dhis period table analysis
json_data = read_file('dim_dhis_indicator')
indicator_frame = DataFrame(json_data['data']).set_index('index')

indicator_frame.dtypes
# indicator_frame[['']]

In [ ]:
indicator_frame[['indicatorname']]

In [110]:
merged = pd.merge(data_value_dframe,data_element_dframe, on='dataelementid', how='inner')

In [111]:
merged

,_datecreated_x,_eventexecutionkey_x,_lastaction_x,_mergekey_x,_sourcesystemcode_x,attributeoptioncomboid,categoryoptioncomboid,comment,created,dataelementid,...,aggregationtype,code,dataelementname,description,domaintype,numbertype,shortname,uid,valuetype,zeroissignificant
0,2015-12-17T00:00:00.000Z,None,None,None,None,15,510530,None,2014-12-04T15:00:20.414Z,510477,...,sum,None,Microscope slides (TB-RELATED LABORATORY COMMO...,None,AGGREGATE,number,Microscope slides (TB-RELATED LABORATORY,cYPwH43Byoj,int,False
1,2015-12-17T00:00:00.000Z,None,None,None,None,15,510523,None,2014-12-04T15:00:07.380Z,510477,...,sum,None,Microscope slides (TB-RELATED LABORATORY COMMO...,None,AGGREGATE,number,Microscope slides (TB-RELATED LABORATORY,cYPwH43Byoj,int,False
2,2015-12-17T00:00:00.000Z,None,None,None,None,15,510531,None,2014-12-04T15:00:33.240Z,510477,...,sum,None,Microscope slides (TB-RELATED LABORATORY COMMO...,None,AGGREGATE,number,Microscope slides (TB-RELATED LABORATORY,cYPwH43Byoj,int,False
3,2015-12-17T00:00:00.000Z,None,None,None,None,15,510523,None,2014-12-04T17:38:25.159Z,510477,...,sum,None,Microscope slides (TB-RELATED LABORATORY COMMO...,None,AGGREGATE,number,Microscope slides (TB-RELATED LABORATORY,cYPwH43Byoj,int,False
4,2015-12-17T00:00:00.000Z,None,None,None,None,15,510528,None,2014-12-04T17:40:15.308Z,510477,...,sum,None,Microscope slides (TB-RELATED LABORATORY COMMO...,None,AGGREGATE,number,Microscope slides (TB-RELATED LABORATORY,cYPwH43Byoj,int,False
5,2015-12-17T00:00:00.000Z,None,None,None,None,15,510527,None,2014-12-08T12:34:45.202Z,510477,...,sum,None,Microscope slides (TB-RELATED LABORATORY COMMO...,None,AGGREGATE,number,Microscope slides (TB-RELATED LABORATORY,cYPwH43Byoj,int,False
6,2015-12-17T00:00:00.000Z,None,None,None,None,15,510523,None,2014-12-05T10:23:34.092Z,510477,...,sum,None,Microscope slides (TB-RELATED LABORATORY COMMO...,None,AGGREGATE,number,Microscope slides (TB-RELATED LABORATORY,cYPwH43Byoj,int,False
7,2015-12-17T00:00:00.000Z,None,None,None,None,15,510531,None,2014-12-05T10:51:16.971Z,510477,...,sum,None,Microscope slides (TB-RELATED LABORATORY COMMO...,None,AGGREGATE,number,Microscope slides (TB-RELATED LABORATORY,cYPwH43Byoj,int,False
8,2015-12-17T00:00:00.000Z,None,None,None,None,15,510524,None,2014-12-05T10:51:16.189Z,510477,...,sum,None,Microscope slides (TB-RELATED LABORATORY COMMO...,None,AGGREGATE,number,Microscope slides (TB-RELATED LABORATORY,cYPwH43Byoj,int,False
9,2015-12-17T00:00:00.000Z,None,None,None,None,15,510530,None,2014-12-05T10:51:16.461Z,510477,...,sum,None,Microscope slides (TB-RELATED LABORATORY COMMO...,None,AGGREGATE,number,Microscope slides (TB-RELATED LABORATORY,cYPwH43Byoj,int,False
10,2015-12-17T00:00:00.000Z,None,None,None,None,15,510528,None,2014-12-05T10:23:50.163Z,510477,...,sum,None,Microscope slides (TB-RELATED LABORATORY COMMO...,None,AGGREGATE,number,Microscope slides (TB-RELATED LABORATORY,cYPwH43Byoj,int,False
11,2015-12-17T00:00:00.000Z,None,None,None,None,15,510528,None,2014-12-05T20:16:48.599Z,510477,...,sum,None,Microscope slides (TB-RELATED LABORATORY COMMO...,None,AGGREGATE,number,Microscope slides (TB-RELATED LABORATORY,cYPwH43Byoj,int,False
12,2015-12-17T00:00:00.000Z,None,None,None,None,15,510523,None,2014-12-05T19:08:15.443Z,510477,...,sum,None,Microscope slides (TB-RELATED LABORATORY COMMO...,None,AGGREGATE,number,Microscope slides (TB-RELATED LABORATORY,cYPwH43Byoj,int,False
13,2015-12-17T00:00:00.000Z,None,None,None,None,15,510530,None,2014-12-05T19:08:43.896Z,510477,...,sum,None,Microscope slides (TB-RELATED LABORATORY COMMO...,None,AGGREGATE,number,Microscope slides (TB-RELATED LABORATORY,cYPwH43Byoj,int,False
14,2015-12-17T00:00:00.000Z,None,None,None,None,15,510528,None,2014-12-05T19:09:28.566Z,510477,...,sum,None,Microscope slides (TB-RELATED LABORATORY COMMO...,None,AGGREGATE,number,Microscope slides (TB-RELATED LABORATORY,cYPwH43Byoj,int,False
15,2015-12-17T00:00:00.000Z,None,None,None,None,15,510530,None,2014-12-05T20:16:38.562Z,510477,...,sum,None,Microscope slides (TB-RELATED LABORATORY COMMO...,None,AGGREGATE,number,Microscope slides (TB-RELATED LABORATORY,cYPwH43Byoj,int,False
16,2015-12-17T00:00:00.000Z,None,None,None,None,15,510524,None,2014-12-05T19:08:49.175Z,510477,...,sum,None,Microscope slides (TB-RELATED LABORATORY COMMO...,None,AGGREGATE,number,Microscope slides (TB-RELATED LABORATORY,cYPwH43Byoj,int,False
17,2015-12-17T00:00:00.000Z,None,None,None,None,15,510524,None,2014-12-05T20:16:42.286Z,510477,...,sum,None,Microscope slides (TB-RELATED LABORATORY COMMO...,None,AGGREGATE,number,Microscope slides (TB-RELATED LABORATORY,cYPwH43Byoj,int,False
18,2015-12-17T00:00:00.000Z,None,None,None,None,15,510523,None,2014-12-05T20:16:35.376Z,510477,...,sum,None,Microscope slides (TB-RELATED LABORATORY COMMO...,None,AGGREGATE,number,Microscope slides (TB-RELATED LABORATORY,cYPwH43Byoj,int,False
19,2015-12-17T00:00:00.000Z,None,None,None,None,15,510526,None,2014-12-05T23:37:08.604Z,510477,...,sum,None,Microscope slides (TB-RELATED LABORATORY COMMO...,None,AGGREGATE,number,Microscope slides (TB-RELATED LABORATORY,cYPwH43Byoj,int,False
20,2015-12-17T00:00:00.000Z,None,None,None,None,15,510530,None,2014-12-05T23:37:00.217Z,510477,...,sum,None,Microscope slides (TB-RELATED LABORATORY COMMO...,None,AGGREGATE,number,Microscope slides (TB-RELATED LABORATORY,cYPwH43Byoj,int,False
21,2015-12-17T00:00:00.000Z,None,None,None,None,15,510528,None,2014-12-05T23:37:19.029Z,510477,...,sum,None,Microscope slides (TB-RELATED LABORATORY COMMO...,None,AGGREGATE,number,Microscope slides (TB-RELATED LABORATORY,cYPwH43Byoj,int,False
22,2015-12-17T00:00:00.000Z,None,None,None,None,15,510530,None,2014-12-08T12:34:46.969Z,510477,...,sum,None,Microscope slides (TB-RELATED LABORATORY COMMO...,None,AGGREGATE,number,Microscope slides (TB-RELATED LABORATORY,cYPwH43Byoj,int,False
23,2015-12-17T00:00:00.000Z,None,None,None,None,15,510524,None,2014-12-05T23:37:03.774Z,510477,...,sum,None,Microscope slides (TB-RELATED LABORATORY COMMO...,None,AGGREGATE,number,Microscope slides (TB-RELATED LABORATORY,cYPwH43Byoj,int,False
24,2015-12-17T00:00:00.000Z,None,None,None,None,15,510523,None,2014-12-05T23:36:57.523Z,510477,...,sum,None,Microscope slides (TB-RELATED LABORATORY COMMO...,None,AGGREGATE,number,Microscope slides (TB-RELATED LABORATORY,cYPwH43Byoj,int,False
25,2015-12-17T00:00:00.000Z,None,None,None,None,15,510524,None,2014-12-08T12:34:47.707Z,510477,...,sum,None,Microscope slides (TB-RELATED LABORATORY COMMO...,None,AGGREGATE,number,Microscope slides (TB-RELATED LABORATORY,cYPwH43Byoj,int,False
26,2015-12-17T00:00:00.000Z,None,None,None,None,15,510528,None,2014-12-08T12:34:58.229Z,510477,...,sum,None,Microscope slides (TB-RELATED LABORATORY COMMO...,None,AGGREGATE,number,Microscope slides (TB-RELATED LABORATORY,cYPwH43Byoj,int,False
27,2015-12-17T00:00:00.000Z,None,None,None,None,15,21315,None,2014-12-04T15:00:56.719Z,21372,...,sum,None,Marasmus,None,AGGREGATE,number,Marasmus,IV9vOoO4Mo4,int,False
28,2015-12-17T00:00:00.000Z,None,None,None,None,15,21316,None,2014-12-04T14:39:01.743Z,21372,...,sum,None,Marasmus,None,AGGREGATE,number,Marasmus,IV9vOoO4Mo4,int,False
29,2015-12-17T00:00:00.000Z,None,None,None,None,15,21316,None,2014-12-04T14:59:50.555Z,21372,...,sum,None,Marasmus,None,AGGREGATE,number,Marasmus,IV9vOoO4Mo4,int,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99970,2015-12-17T00:00:00.000Z,None,None,None,None,15,24223,None,2014-12-05T18:18:02.833Z,68049,...,sum,None,Clinic,None,AGGREGATE,number,Clinic,GXwjxVtLfeY,int,False
99971,2015-12-17T00:00:00.000Z,None,None,None,None,15,24225,None,2014-12-05T18:35:35.330Z,68049,...,sum,None,Clinic,None,AGGREGATE,number,Clinic,GXwjxVtLfeY,int,False
99972,2015-12-17T00:00:00.000Z,None,None,None,None,15,24224,None,2014-12-05T18:34:01.745Z,68049,...,sum,None,Clinic,None,AGGREGATE,number,Clinic,GXwjxVtLfeY,int,False
99973,2015-12-17T00:00:00.000Z,None,None,None,None,15,24223,None,2014-12-05T18:33:06.254Z,68049,...,sum,None,Clinic,None,AGGREGATE,number,Clinic,GXwjxVtLfeY,int,False
99974,2015-12-17T00:00:00.000Z,None,None,None,None,15,83167,None,2014-12-05T18:43:53.601Z,83273,...,sum,None,Learning Disorder Old Cases,None,AGGREGATE,number,Learning Dis Old Cases,MedXiIVW6zY,int,False
99975,2015-12-17T00:00:00.000Z,None,None,None,None,15,83169,None,2014-12-05T18:44:01.681Z,83273,...,sum,None,Learning Disorder Old Cases,None,AGGREGATE,number,Learning Dis Old Cases,MedXiIVW6zY,int,False
99976,2015-12-17T00:00:00.000Z,None,None,None,None,15,24410,None,2014-12-05T18:19:51.813Z,24270,...,sum,None,Mineral Water (Awash),None,AGGREGATE,number,Mineral Water (Awash,Dt8Uy5QqEDO,int,False
99977,2015-12-17T00:00:00.000Z,None,None,None,None,15,24410,None,2014-12-05T18:36:44.659Z,24268,...,sum,None,Ribena,None,AGGREGATE,number,Ribena,RWt06l6w307,int,False
99978,2015-12-17T00:00:00.000Z,None,None,None,None,15,24410,None,2014-12-05T18:19:42.015Z,24273,...,sum,None,Panadol tabs,None,AGGREGATE,number,Panadol tabs,gO0iOk5zVfY,int,False
99979,2015-12-17T00:00:00.000Z,None,None,None,None,15,406784,None,2014-12-05T21:27:28.063Z,406796,...,sum,None,Total survivors with disability,None,AGGREGATE,number,Total survivors with disability,xPkIVzEiOmr,int,False
99980,2015-12-17T00:00:00.000Z,None,None,None,None,15,15,None,2014-12-05T21:05:43.849Z,21002,...,average,None,Total Population,None,AGGREGATE,number,Total Population,NLKRV7bYbVy,int,False
99981,2015-12-17T00:00:00.000Z,None,None,None,None,15,406784,None,2014-12-05T21:27:00.405Z,406794,...,sum,None,No. of sexual assault survivors,None,AGGREGATE,number,No. of sexual assault survivors,YKd3VhJZuiI,int,False
99982,2015-12-17T00:00:00.000Z,None,None,None,None,15,406778,None,2014-12-05T21:27:02.516Z,406794,...,sum,None,No. of sexual assault survivors,None,AGGREGATE,number,No. of sexual assault survivors,YKd3VhJZuiI,int,False
99983,2015-12-17T00:00:00.000Z,None,None,None,None,15,406780,None,2014-12-05T21:27:05.467Z,406794,...,sum,None,No. of sexual assault survivors,None,AGGREGATE,number,No. of sexual assault survivors,YKd3VhJZuiI,int,False
99984,2015-12-17T00:00:00.000Z,None,None,None,None,15,510516,None,2014-12-05T22:11:49.422Z,502077,...,sum,PART 001,EASY Count CD4/CD3 Reagent [Adult],None,AGGREGATE,number,EASY Count CD4/CD3 Reagent [Adult],MvvpZNmdBVD,int,False
99985,2015-12-17T00:00:00.000Z,None,None,None,None,15,510511,None,2014-12-05T22:14:04.486Z,502077,...,sum,PART 001,EASY Count CD4/CD3 Reagent [Adult],None,AGGREGATE,number,EASY Count CD4/CD3 Reagent [Adult],MvvpZNmdBVD,int,False
99986,2015-12-17T00:00:00.000Z,None,None,None,None,15,510513,None,2014-12-05T22:13:56.095Z,502077,...,sum,PART 001,EASY Count CD4/CD3 Reagent [Adult],None,AGGREGATE,number,EASY Count CD4/CD3 Reagent [Adult],MvvpZNmdBVD,int,False
99987,2015-12-17T00:00:00.000Z,None,None,None,None,15,15,None,2014-12-05T23:10:56.343Z,512434,...,sum,None,Sysmex,None,AGGREGATE,number,Sysmex,NApbCswZ9TL,int,False
99988,2015-12-17T00:00:00.000Z,None,None,None,None,15,510517,None,2014-12-05T23:18:34.181Z,502102,...,sum,HAC 004,Haemolynac-3N,None,AGGREGATE,number,Haemolynac-3N,Qee0zMZpySG,int,False
99989,2015-12-17T00:00:00.000Z,None,None,None,None,15,510511,None,2014-12-05T23:18:51.765Z,502102,...,sum,HAC 004,Haemolynac-3N,None,AGGREGATE,number,Haemolynac-3N,Qee0zMZpySG,int,False
99990,2015-12-17T00:00:00.000Z,None,None,None,None,15,510516,None,2014-12-05T23:17:17.431Z,502102,...,sum,HAC 004,Haemolynac-3N,None,AGGREGATE,number,Haemolynac-3N,Qee0zMZpySG,int,False
99991,2015-12-17T00:00:00.000Z,None,None,None,None,15,510517,None,2014-12-05T23:23:28.514Z,502113,...,sum,BAE 005,Creatinine,None,AGGREGATE,number,Creatinine,KAbZG1sJHXe,int,False
99992,2015-12-17T00:00:00.000Z,None,None,None,None,15,510516,None,2014-12-05T23:21:24.898Z,502113,...,sum,BAE 005,Creatinine,None,AGGREGATE,number,Creatinine,KAbZG1sJHXe,int,False
99993,2015-12-17T00:00:00.000Z,None,None,None,None,15,510511,None,2014-12-05T23:19:14.950Z,502108,...,sum,HAC 008,High Control,None,AGGREGATE,number,High Control,v9Bv5Q0xfGZ,int,False
99994,2015-12-17T00:00:00.000Z,None,None,None,None,15,510511,None,2014-12-05T23:19:02.290Z,502103,...,sum,HAC 005,Haemolynac-5,None,AGGREGATE,number,Haemolynac-5,nWLlCknSdf7,int,False
99995,2015-12-17T00:00:00.000Z,None,None,None,None,15,510511,None,2014-12-05T23:19:07.191Z,502107,...,sum,HAC 007,Normal control,None,AGGREGATE,number,Normal control,lEyL78AfWvq,int,False
99996,2015-12-17T00:00:00.000Z,None,None,None,None,15,510511,None,2014-12-05T23:19:04.873Z,502105,...,sum,HAC 006,Low control,None,AGGREGATE,number,Low control,GN921kICqL7,int,False
99997,2015-12-17T00:00:00.000Z,None,None,None,None,15,510511,None,2014-12-05T23:18:48.709Z,502101,...,sum,HAC 003,Isotonac-3,None,AGGREGATE,number,Isotonac-3,yg47hQ77ByY,int,False
99998,2015-12-17T00:00:00.000Z,None,None,None,None,15,15,None,2014-12-05T23:20:49.128Z,512440,...,sum,None,Eurolyser,None,AGGREGATE,number,Eurolyser,AhmxtDNxR5z,int,False
99999,2015-12-17T00:00:00.000Z,None,None,None,None,15,15,None,2014-12-06T06:22:43.082Z,33867,...,sum,hV06-05,Blood units reactive to HIV,None,AGGREGATE,number,Blood units reactive,PQnaQxynbOL,int,False

In [109]:
merged[['dataelementid','value', 'dataelementname','periodid','sourceid']]

,dataelementid,value,dataelementname,periodid,sourceid
0,510477,57,Microscope slides (TB-RELATED LABORATORY COMMO...,1185021,44751
1,510477,52,Microscope slides (TB-RELATED LABORATORY COMMO...,1185021,44751
2,510477,100,Microscope slides (TB-RELATED LABORATORY COMMO...,1185021,44751
3,510477,400,Microscope slides (TB-RELATED LABORATORY COMMO...,1185021,24546
4,510477,400,Microscope slides (TB-RELATED LABORATORY COMMO...,1185021,24546
5,510477,50,Microscope slides (TB-RELATED LABORATORY COMMO...,1185021,32071
6,510477,30,Microscope slides (TB-RELATED LABORATORY COMMO...,1185021,44741
7,510477,50,Microscope slides (TB-RELATED LABORATORY COMMO...,1185021,44741
8,510477,10,Microscope slides (TB-RELATED LABORATORY COMMO...,1185021,44741
9,510477,10,Microscope slides (TB-RELATED LABORATORY COMMO...,1185021,44741
10,510477,20,Microscope slides (TB-RELATED LABORATORY COMMO...,1185021,44741
11,510477,231,Microscope slides (TB-RELATED LABORATORY COMMO...,1185021,44747
12,510477,264,Microscope slides (TB-RELATED LABORATORY COMMO...,1185021,44979
13,510477,24,Microscope slides (TB-RELATED LABORATORY COMMO...,1185021,44979
14,510477,240,Microscope slides (TB-RELATED LABORATORY COMMO...,1185021,44979
15,510477,45,Microscope slides (TB-RELATED LABORATORY COMMO...,1185021,44747
16,510477,24,Microscope slides (TB-RELATED LABORATORY COMMO...,1185021,44979
17,510477,45,Microscope slides (TB-RELATED LABORATORY COMMO...,1185021,44747
18,510477,276,Microscope slides (TB-RELATED LABORATORY COMMO...,1185021,44747
19,510477,14,Microscope slides (TB-RELATED LABORATORY COMMO...,1185021,44734
20,510477,14,Microscope slides (TB-RELATED LABORATORY COMMO...,1185021,44734
21,510477,173,Microscope slides (TB-RELATED LABORATORY COMMO...,1185021,44734
22,510477,5,Microscope slides (TB-RELATED LABORATORY COMMO...,1185021,32071
23,510477,14,Microscope slides (TB-RELATED LABORATORY COMMO...,1185021,44734
24,510477,187,Microscope slides (TB-RELATED LABORATORY COMMO...,1185021,44734
25,510477,5,Microscope slides (TB-RELATED LABORATORY COMMO...,1185021,32071
26,510477,51,Microscope slides (TB-RELATED LABORATORY COMMO...,1185021,32071
27,21372,6,Marasmus,1185021,45114
28,21372,3,Marasmus,1185021,31858
29,21372,3,Marasmus,1185021,22781
...,...,...,...,...,...
99970,68049,4,Clinic,1185021,22750
99971,68049,3,Clinic,1185021,22828
99972,68049,3,Clinic,1185021,22828
99973,68049,3,Clinic,1185021,22828
99974,83273,1,Learning Disorder Old Cases,1185021,44928
99975,83273,2,Learning Disorder Old Cases,1185021,44928
99976,24270,5,Mineral Water (Awash),1185021,22750
99977,24268,1,Ribena,1185021,22828
99978,24273,2,Panadol tabs,1185021,22750
99979,406796,1,Total survivors with disability,1185021,22706
99980,21002,142054,Total Population,288004,70
99981,406794,4,No. of sexual assault survivors,1185021,22706
99982,406794,1,No. of sexual assault survivors,1185021,22706
99983,406794,1,No. of sexual assault survivors,1185021,22706
99984,502077,2,EASY Count CD4/CD3 Reagent [Adult],1185021,39490
99985,502077,10,EASY Count CD4/CD3 Reagent [Adult],1185021,39490
99986,502077,2,EASY Count CD4/CD3 Reagent [Adult],1185021,39490
99987,512434,1,Sysmex,1185021,39490
99988,502102,1,Haemolynac-3N,1185021,39490
99989,502102,9,Haemolynac-3N,1185021,39490
99990,502102,1,Haemolynac-3N,1185021,39490
99991,502113,1,Creatinine,1185021,39490
99992,502113,1,Creatinine,1185021,39490
99993,502108,12,High Control,1185021,39490
99994,502103,9,Haemolynac-5,1185021,39490
99995,502107,12,Normal control,1185021,39490
99996,502105,12,Low control,1185021,39490
99997,502101,15,Isotonac-3,1185021,39490
99998,512440,1,Eurolyser,1185021,39490
99999,33867,2,Blood units reactive to HIV,1185021,22713