In [ ]:
#import needed librar
import pandas as pd
import numpy as np
from pandas import DataFrame, Series
import json
import psycopg2
import os
import re
#

In [ ]:
def get_connection():
    conn = {}
    with open('../db_connection/db_config.json') as my_file:
        db_conf = json.load(my_file)
    conn_str = "host={} dbname={} user={} password={}".format(
                db_conf['host'], db_conf['database'], 
                db_conf['user'], db_conf['passw'])
    try:
        conn = psycopg2.connect(conn_str)
        return conn
    except:
        return 'error in connecting to database'

In [ ]:
get_connection()

In [ ]:
def get_indicator_groups():
    '''return a list of all indicator groups'''
    conn = get_connection()
    
    all_indicator_groups = DataFrame()
    
    for chunk in pd.read_sql('SELECT * FROM dim_dhis_indicatorgroup', con=conn, chunksize=100):
        all_indicator_groups = all_indicator_groups.append(chunk)
    
    return all_indicator_groups

In [ ]:
get_indicator_groups()

In [ ]:
def get_indicator_group_by_id(indicator_group_id):
    '''return a single indicator group matching the id'''
    conn = get_connection()
    
    all_indicator_groups = DataFrame()
    
    for chunk in pd.read_sql('SELECT * FROM dim_dhis_indicatorgroup', con=conn, chunksize=100):
        all_indicator_groups = all_indicator_groups.append(chunk)
    
    single_indicator = all_indicator_groups[all_indicator_groups['indicatorgroupid']==indicator_group_id]
    return single_indicator

In [ ]:
get_indicator_group_by_id(412980)

In [ ]:
def get_all_indicator_group_members():
    '''return all indicators in an indicator group'''
    conn = get_connection()    
    
    all_indicator_group_members = DataFrame()
    
    for chunk in pd.read_sql('SELECT * FROM dim_dhis_indicatorgroupmembers', con=conn, chunksize=100):
        all_indicator_group_members = all_indicator_group_members.append(chunk)        
    
    return all_indicator_group_members

In [ ]:
get_all_indicator_group_members()

In [ ]:
def get_indicator_group_members(indicator_group_id):
    '''return all indicators in an indicator group'''
    conn = get_connection()
    
    #get the indicator group
    indicator_group = get_indicator_group_by_id(indicator_group_id)
    indicator_group = indicator_group.rename(index=str, columns={'name': 'indicator_group_name'})
    
    all_indicator_group_members = DataFrame()
    
    for chunk in pd.read_sql('SELECT * FROM dim_dhis_indicatorgroupmembers', con=conn, chunksize=100):
        all_indicator_group_members = all_indicator_group_members.append(chunk)
    
    indicator_group_members = pd.merge(all_indicator_group_members, indicator_group, on='indicatorgroupid')
    
    return indicator_group_members

In [ ]:
get_indicator_group_members(412980).columns

In [ ]:
def get_indicator_group_indicators(indicator_group_id):
    '''get all indicators in an indicator group'''
    conn=get_connection()
    #get indicator memmbers
    indicator_memmber = get_indicator_group_members(indicator_group_id)
    
    all_indicators = DataFrame()
    for chunk in pd.read_sql('SELECT * FROM dim_dhis_indicator', con=conn, chunksize=100):
        all_indicators = all_indicators.append(chunk)
    
    indicators = pd.merge(all_indicators, indicator_memmber, on='indicatorid')
    
    
    return indicators

In [ ]:
# get_indicator_group_indicators(84109).dtypes
print get_indicator_group_indicators(412980)[['numerator']]

In [ ]:
def get_indicator_by_id(indicator_id):
    '''get specific indicator by id'''
    conn=get_connection()
    
    query = "SELECT * FROM dim_dhis_indicator WHERE indicatorid = '%s';" %(indicator_id)
    indicator = pd.read_sql(query, conn)
    
    return indicator

In [ ]:
get_indicator_by_id(413098)

In [ ]:
def get_dataelment_by_id(dataelement_id):
    '''get specific data element'''
    conn=get_connection()
    #get data element
    
    all_dataelements = DataFrame()
    for chunk in pd.read_sql('SELECT * FROM dim_dhis_dataelement', con=conn, chunksize=10000):
        all_dataelements = all_dataelements.append(chunk)
       
    return all_dataelements

In [ ]:
de = get_dataelment_by_id('qa1IrxISrSJ')

In [136]:
pattern = re.compile('#{[a-zA-Z]+}')
components = re.findall("[a-zA-Z0-9]+\.[a-zA-Z0-9]+|[a-zA-Z0-9]+","#{RwTKRWWKGhn.NhSoXUMPK2K}+#{}+#{qMybCnYBkNY}")
components

['RwTKRWWKGhn.NhSoXUMPK2K', 'qMybCnYBkNY']

In [140]:
for c in components:
    combo = re.findall("\.[a-zA-Z0-9]+", c)
    if combo:
        combo = re.sub('\.','', combo[0])
        
        print (get_category_option_combo_by_uid(combo)).loc[0]['categoryoptioncomboid']

15

In [ ]:
re.sub("#{" + m[0] +"}" ,'evans',"#{qa1IrxISrSJ}+#{qMybCnYBkNY}")

In [ ]:
#get a specific county
def get_category_combos():
    conn = get_connection()
    all_orgunits = pd.DataFrame()
    for chunk in pd.read_sql('SELECT * FROM dim_dhis_categoryoptioncombo', con=conn, chunksize=10000):
        all_orgunits = all_orgunits.append(chunk)
    
    return all_orgunits

In [113]:
get_category_combos()

,categoryoptioncomboid,uid,code,_datecreated,_eventexecutionkey,_lastaction,_mergekey,_sourcesystemcode
0,8688567,r6zTEVft9H1,None,None,None,None,None,None
1,8813495,lZUIAg6whIT,None,None,None,None,None,None
2,8813496,xBF0SZh6k2f,None,None,None,None,None,None
3,8813497,ejejj1FVTq2,None,None,None,None,None,None
4,8813498,XzPlCAJe8jX,None,None,None,None,None,None
5,20673,ieuodyY5ybC,None,None,None,None,None,None
6,20674,bCfwecaPx2W,None,None,None,None,None,None
7,20676,lHl2rmXpHse,None,None,None,None,None,None
8,20677,SeDaCnHi3m5,None,None,None,None,None,None
9,21258,omEDL5LVgDJ,None,None,None,None,None,None
10,21259,g6112VF7T29,None,None,None,None,None,None
11,21260,j03wX0lCHZc,None,None,None,None,None,None
12,21261,vVketPHJwSY,None,None,None,None,None,None
13,21268,wBWcFk7k1qY,None,None,None,None,None,None
14,21325,sXgcr8o6TqL,None,None,None,None,None,None
15,21615,Lj5arkL7GL8,None,None,None,None,None,None
16,21616,ObiJr399QRt,None,None,None,None,None,None
17,21617,bPNw3Km3Ug7,None,None,None,None,None,None
18,21618,JUI7tesx6as,None,None,None,None,None,None
19,21683,U4pOspYgS6C,None,None,None,None,None,None
20,21684,BhEifF7qaMa,None,None,None,None,None,None
21,21685,E001TwZacAM,None,None,None,None,None,None
22,21686,UcbjkmT8m0e,None,None,None,None,None,None
23,21687,PyfuYO3qlk2,None,None,None,None,None,None
24,21688,uyHMrgHkWa4,None,None,None,None,None,None
25,21689,K4bGFMZEuMW,None,None,None,None,None,None
26,21690,cSmXmzTMZDN,None,None,None,None,None,None
27,261754,WDafWKWrI84,None,None,None,None,None,None
28,261755,XIQ1SeOshtt,None,None,None,None,None,None
29,261756,RYmHjCLU2CB,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...
993,7839686,JRPzrvKWxIU,None,None,None,None,None,None
994,7839687,ZnAiy4Avkoo,None,None,None,None,None,None
995,7839688,A6AJd72OBem,None,None,None,None,None,None
996,7839689,Hd6rg3KwxWe,None,None,None,None,None,None
997,7839690,Mn2LAHnCBHT,None,None,None,None,None,None
998,7839691,py8ArdZAgVA,None,None,None,None,None,None
999,7839692,qPTIGNYhKcP,None,None,None,None,None,None
1000,7839693,qVM5nQVj5Ll,None,None,None,None,None,None
1001,7839694,k4Xh1PG3s66,None,None,None,None,None,None
1002,7839695,KBOCcfnNK1v,None,None,None,None,None,None
1003,7839696,xDofrBdn4XL,None,None,None,None,None,None
1004,7839697,olBzxhSMSuU,None,None,None,None,None,None
1005,7839698,SPE6IGh6XHv,None,None,None,None,None,None
1006,7839699,fPke0YL2TaI,None,None,None,None,None,None
1007,7839700,Zq6Muz8NQkt,None,None,None,None,None,None
1008,7839701,YP4rvjo8uzQ,None,None,None,None,None,None
1009,7839702,lfvCtV9GtmS,None,None,None,None,None,None
1010,7839703,j3ojMzPeuvb,None,None,None,None,None,None
1011,7839704,mLrXxQcKIYb,None,None,None,None,None,None
1012,7839705,p8cYhLPM85h,None,None,None,None,None,None
1013,7839706,Q2fJIoTjXmH,None,None,None,None,None,None
1014,7839707,uNMs41JK2j7,None,None,None,None,None,None
1015,7839708,X6j2oNQnPbP,None,None,None,None,None,None
1016,7839709,fr6IsBGWBij,None,None,None,None,None,None
1017,7839710,XYV3G9dNBO2,None,None,None,None,None,None
1018,7839711,tcILlX0W3if,None,None,None,None,None,None
1019,7839712,zEgbDqlud0x,None,None,None,None,None,None
1020,7839713,zJC3RpA15eu,None,None,None,None,None,None
1021,7839714,WnziS9vmokE,None,None,None,None,None,None
1022,7839715,VCjhEgPZNU1,None,None,None,None,None,None

In [118]:
def get_category_option_combo_by_uid(category_option_combo_id):
    conn = get_connection()
    all_category_option_combos = pd.DataFrame()
    query =  '''SELECT * 
                FROM dim_dhis_categoryoptioncombo
                WHERE uid = '%s'
            ''' %(category_option_combo_id)
    all_category_option_combos =  pd.read_sql(query, con=conn)
        
    
    return all_category_option_combos

In [120]:
get_category_option_combo_by_uid('NhSoXUMPK2K')

,categoryoptioncomboid,uid,code,_datecreated,_eventexecutionkey,_lastaction,_mergekey,_sourcesystemcode
0,15,NhSoXUMPK2K,None,None,None,None,None,None

In [ ]:

def get_period_details(period_id, in_json=False):
    ''' return period id details'''
    conn = get_connection()
    all_periods = pd.DataFrame()
    query = "SELECT * FROM dim_dhis_period WHERE periodid = %s ;" %(period_id)
    for chunk in pd.read_sql(query, con=conn, chunksize=10000):
        all_periods = all_periods.append(chunk)
    
    return all_periods

In [ ]:
periods =get_period_details(2506122, False)
periods

In [ ]:
#get period ids from year
def get_year_periods(year_id):
    '''return all periods in the year specified '''
    conn = get_connection()
    all_periods = DataFrame()
    #query = "SELECT * FROM dim_dhis_period WHERE yearmonth LIKE"
    query = "SELECT * FROM dim_dhis_period WHERE yearmonth @@ to_tsquery('%s')" %(year_id)
    for chunk in pd.read_sql(query, con=conn, chunksize=10000):
        all_periods = all_periods.append(chunk)
    
    all_periods['year'] = all_periods['yearmonth'].str.split(' ').str[1]
    all_periods['month'] = all_periods['yearmonth'].str.split(' ').str[2]
    return all_periods

In [ ]:
get_year_periods(2015)

In [ ]:
#get period ids from year
def get_year_periodtypes(year_id, period_type_id):
    '''return all periods in the year specified '''
    conn = get_connection()
    all_periods = DataFrame()
    #query = "SELECT * FROM dim_dhis_period WHERE yearmonth LIKE"
    query = "SELECT * FROM dim_dhis_period WHERE yearmonth @@ to_tsquery('%s') AND periodtypeid = '%s'" %(year_id,period_type_id)
    for chunk in pd.read_sql(query, con=conn, chunksize=10000):
        all_periods = all_periods.append(chunk)
    
    all_periods['year'] = all_periods['yearmonth'].str.split(' ').str[1]
    all_periods['month'] = all_periods['yearmonth'].str.split(' ').str[2]
    return all_periods

In [ ]:
get_year_periodtypes(2014,5)

In [ ]:
#get period ids from year
def get_year_month_periods(year, month):
    '''return all periods in the year specified '''
    conn = get_connection()
    all_periods = DataFrame()
    #query = "SELECT * FROM dim_dhis_period WHERE yearmonth LIKE"
    query = "SELECT * FROM dim_dhis_period WHERE yearmonth @@ to_tsquery('%s &%s')" %(year, month)    
    for chunk in pd.read_sql(query, con=conn, chunksize=10000):
        all_periods = all_periods.append(chunk)
    
    return all_periods

In [ ]:
get_year_month_periods(2015,1)

In [ ]:
#get a specific facility
def get_facility_by_id(facility_id):
    conn = get_connection()
    all_facilities = pd.DataFrame()
    query = "SELECT * FROM facilities_facility WHERE id = '%s' ;" %(facility_id)    
    for chunk in pd.read_sql(query, con=conn, chunksize=10000):
        all_facilities = all_facilities.append(chunk)

    
    return all_facilities

In [ ]:
get_facility_by_id("da850a5f-df4e-4650-b950-2f86839748f7")

In [ ]:
def get_period_by_id(period_id):
    '''return all periods in the year specified '''
    conn = get_connection()
    all_periods = DataFrame()
    #query = "SELECT * FROM dim_dhis_period WHERE yearmonth LIKE"
    query = "SELECT * FROM dim_dhis_period WHERE periodid = %s" %(period_id)    
    for chunk in pd.read_sql(query, con=conn, chunksize=10000):
        all_periods = all_periods.append(chunk)
    
    
    return all_periods

In [ ]:
get_period_by_id(2505073)

In [ ]:
def get_facility_org_units(facility_id):
    conn = get_connection()
    #get the facility    
    query = ''' SELECT  a.organisationunitid, a.code, b.name
                FROM dim_dhis_organisationunit a , facilities_facility b
                WHERE a.code = CAST(b.code as VarChar) AND b.id = '%s' ''' %(facility_id)
    
    facility_orgunit = pd.read_sql(query,conn)
    
    return facility_orgunit

In [ ]:
get_facility_org_units("da850a5f-df4e-4650-b950-2f86839748f7")

In [ ]:
#get period ids from year
def get_facility_indicator_calculated_valued():
    '''return all indicator values  '''
    conn = get_connection()
    all_indicator_values = DataFrame()
    
    query = "select * from fact_dhis_indicatorcalculatedvalues limit 100000;"
    for chunk in pd.read_sql(query, con=conn, chunksize=10000):
        all_indicator_values = all_indicator_values.append(chunk)
    
    return all_indicator_values

In [ ]:
ind = get_facility_indicator_calculated_valued()

In [ ]:
def get_period_types():
    '''return all period types'''
    conn = get_connection()
    all_period_types = DataFrame()
    
    query = "select DISTINCT(periodtypename) as name, periodtypeid as id  from dim_dhis_period;"
    for chunk in pd.read_sql(query, con=conn, chunksize=10000):
        all_period_types = all_period_types.append(chunk)
    
    return all_period_types

In [ ]:
get_period_types()

In [ ]:
def get_indicator_values(indicator_id, facility_id, period_id):
    '''return all period types'''
    conn = get_connection()
    all_period_types = DataFrame()
    
    query = "select DISTINCT(periodtypename) as name, periodtypeid as id  from dim_dhis_period;"
    for chunk in pd.read_sql(query, con=conn, chunksize=10000):
        all_period_types = all_period_types.append(chunk)
    
    return all_period_types

In [ ]:
def get_facility_dataelement_datavalues(dataelement_id, source_id, period_id):
    conn = get_connection()
    all_datavalues = DataFrame()
    
    query = ''' SELECT a.* 
                FROM fact_dhis_datavalue a , dim_dhis_dataelement b
                WHERE a.dataelementid = b.dataelementid
                AND b.uid = '%s' 
                AND a.sourceid = %s 
                AND a.periodid = '%s'; ''' %(dataelement_id, source_id, period_id)
    all_datavalues = pd.read_sql(query, con=conn )        
    
    return all_datavalues

In [112]:
get_facility_dataelement_datavalues('GCAkHwMAWM6','44911', '1185021')

,dataelementid,periodid,sourceid,categoryoptioncomboid,attributeoptioncomboid,value,storedby,lastupdated,comment,followup,created,_datecreated,_eventexecutionkey,_lastaction,_mergekey,_sourcesystemcode
0,33731,1185021,44911,15,15,2,Gilbert Amburosi,2015-03-25 21:55:13.344,None,False,2015-01-14 14:58:47.692,2015-12-17,None,None,None,None

In [175]:
def get_facility_dataelement_datavalues(dataelement_id, source_id, period_id, category_combo_id=None):
    conn = get_connection()
    all_datavalues = DataFrame()
    
    if category_combo_id:
        query = ''' SELECT a.* 
                    FROM fact_dhis_datavalue a , dim_dhis_dataelement b
                    WHERE a.dataelementid = b.dataelementid
                    AND b.uid = '%s' 
                    AND a.sourceid = %s 
                    AND a.periodid = '%s'
                    AND a.categoryoptioncomboid = '%s' ''' %(dataelement_id, source_id, period_id, category_combo_id)
    else:
        query = ''' SELECT a.* 
                FROM fact_dhis_datavalue a , dim_dhis_dataelement b
                WHERE a.dataelementid = b.dataelementid
                AND b.uid = '%s' 
                AND a.sourceid = %s 
                AND a.periodid = '%s'; ''' %(dataelement_id, source_id, period_id)
    all_datavalues = pd.read_sql(query, con=conn )        
    
    return all_datavalues

In [174]:
get_facility_dataelement_datavalues('TJMdle70A7X','44911', '723795', 15)

Empty DataFrame
Columns: [dataelementid, periodid, sourceid, categoryoptioncomboid, attributeoptioncomboid, value, storedby, lastupdated, comment, followup, created, _datecreated, _eventexecutionkey, _lastaction, _mergekey, _sourcesystemcode]
Index: []

In [ ]:
def get_facility_category_datavalues(dataelement_id, source_id, period_id):
    conn = get_connection()
    all_datavalues = DataFrame()
    
    query = ''' SELECT a.* 
                FROM fact_dhis_datavalue a , dim_dhis_dataelement b
                WHERE a.dataelementid = b.dataelementid
                AND b.uid = '%s' 
                AND a.sourceid = %s 
                AND a.periodid = '%s'; ''' %(dataelement_id, source_id, period_id)
    all_datavalues = pd.read_sql(query, con=conn )        
    
    return all_datavalues

In [203]:
def get_indicator_values(facility_id, indicator_id, period_type, year ):
    conn = get_connection()
    indicator = get_indicator_by_id(indicator_id).loc[0]
    periods = get_year_periodtypes(year,period_type)
    facility = get_facility_org_units(facility_id).loc[0]
    pattern = "[a-zA-Z0-9]+\.[a-zA-Z0-9]+|[a-zA-Z0-9]+"



    numerator_dataelements = re.findall(pattern,indicator['numerator'])
    denominator_dataelements = re.findall(pattern,indicator['denominator'])

    #iterate through 
    for col, period in periods.iterrows():
        numerator = indicator['numerator'] 

        for datelement_category_combo in numerator_dataelements:                       
            dataelement = re.sub('\.','' , re.findall("[a-zA-Z0-9]+\.", datelement_category_combo)[0]) 
            combo = re.findall("\.[a-zA-Z0-9]+", datelement_category_combo)
            if combo:
                combo = re.sub('\.','', combo[0])
                combo_uid = get_category_option_combo_by_uid(combo).loc[0]['categoryoptioncomboid']
            else:
                combo_uid = None

            value = get_facility_dataelement_datavalues(dataelement, facility['organisationunitid'], period['periodid'], combo_uid)

            if value.empty:            
                numerator = re.sub( "#{" + datelement_category_combo +"}" ,'0',numerator)                
            else:
                numerator = re.sub("#{" + datelement_category_combo +"}" ,value.loc[0]['value'],numerator)                

        
        
        denominator = indicator['denominator']
        for datelement_category_combo in denominator_dataelements:                       
            dataelement = re.sub('\.','' , re.findall("[a-zA-Z0-9]+\.", datelement_category_combo)[0]) 
            combo = re.findall("\.[a-zA-Z0-9]+", datelement_category_combo)
            if combo:
                combo = re.sub('\.','', combo[0])
                combo_uid = get_category_option_combo_by_uid(combo).loc[0]['categoryoptioncomboid']
            else:
                combo_uid = None

            value = get_facility_dataelement_datavalues(dataelement, facility['organisationunitid'], period['periodid'], combo_uid)
            if value.empty:      
                denominator = re.sub( "#{" + datelement_category_combo +"}" ,'0',denominator)                
            else:
                denominator = re.sub("#{" + datelement_category_combo +"}" ,value.loc[0]['value'],denominator)                
        print( eval(denominator))

In [204]:
get_indicator_values('028d858c-c21d-4391-b4eb-7fea8ef0cb32',61829,5,2014)

45
0
64
60
49
48
69
49
36
44
38
48

In [170]:
get_category_option_combo_by_uid("NhSoXUMPK2K")

,categoryoptioncomboid,uid,code,_datecreated,_eventexecutionkey,_lastaction,_mergekey,_sourcesystemcode
0,15,NhSoXUMPK2K,None,None,None,None,None,None

In [181]:
conn = get_connection()
# pd.read_sql( ('''Select * from dim_dhis_dataelement  where dataelementid = '%s' ''' %(33731)),  conn)
# pd.read_sql( ('''Select * from dim_dhis_dataelement  where uid = '%s' ''' %('TJMdle70A7X')),  conn)
# pd.read_sql( ('''Select * from dim_dhis_categoryoptioncombo  where uid = '%s' ''' %('NhSoXUMPK2K')),  conn)
# pd.read_sql( ('''select * from dim_dhis_period where periodid = '%s' ''' %(1185021)), conn)
# pd.read_sql( ('''select * from dim_dhis_organisationunit where organisationunitid = '%s' ''' %(44911)), conn)
pd.read_sql( ('''select * from facilities_facility where code = '%s' ''' %(15798)), conn)

,id,deleted,active,name,official_name,code,registration_number,abbreviation,description,number_of_beds,...,_effectivefrom,_effectiveto,ward_id,facility_type_id,keph_level_id,owner_id,parent_id,sub_county_id,town_id,facility_sk
0,028d858c-c21d-4391-b4eb-7fea8ef0cb32,False,True,Amukura Health Centre,Amukura Health Centre,15798,None,None,None,12,...,1900-01-01,2199-12-31,7d4e1923-8135-4d4d-a7f8-7cd29443b0ec,a9385618-1d55-4768-a0ab-df1ad1cade21,2fb834bd-dfb9-4aab-8102-071077b7394c,1b0b8814-a3d0-4e76-bfc9-4dea62a58b60,None,None,22544396-d00f-4bb4-9ecb-b37b9278ba72,3135

In [ ]:
pd.read_sql('SELECT * from fact_dhis_datavalue limit 1000',conn)

In [182]:
indis = pd.read_sql("select * from dim_dhis_indicator ", conn)
indis[indis['numerator'].str.contains('GCAkHwMAWM6')]

,indicatorid,indicatorname,shortname,code,description,annualized,indicatortypeid,indicatortypename,indicatortypefactor,indicatortypenumber,...,denominator,denominatordescription,uid,denominatorsql,numeratorsql,_datecreated,_eventexecutionkey,_lastaction,_mergekey,_sourcesystemcode
373,61829,PMTCT Positivity at ANC,PMTCT Positivity at ANC,None,"([HV02-05] + [HV02-06]) / [Integrated RH, HIVA...",False,21017,Percentage,100,False,...,#{f9vesk5d4IY.NhSoXUMPK2K},New ANC clients (ANC 1st Visit),None,SELECT value1 as denominator FROM (SELECT CO...,SELECT value1+value2 as numerator FROM (SELEC...,2016-02-01,None,I,None,None
712,477152,Total number of HIV-positive pregnant women in...,Total number of HIV-positive pregnant,None,None,False,23696,Number,1,True,...,1,None,None,SELECT 1 as denominator,SELECT value1+value2 as numerator FROM (SELEC...,2016-02-01,None,I,None,None