In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import json
import os
import psycopg2

In [2]:
def get_connection():
    conn = {}
    with open('../db_connection/db_config.json') as my_file:
        db_conf = json.load(my_file)
    conn_str = "host={} dbname={} user={} password={}".format(
                db_conf['host'], db_conf['database'], 
                db_conf['user'], db_conf['passw'])
    try:
        conn = psycopg2.connect(conn_str)
        return conn
    except:
        return 'error in connecting to database'

In [3]:
get_connection()

In [4]:
#get a specific facility
def get_facility_by_id(facility_id):
    conn = get_connection()
    all_facilities = pd.DataFrame()
    query = "SELECT * FROM facilities_facility WHERE id = '%s' ;" %(facility_id)    
    for chunk in pd.read_sql(query, con=conn, chunksize=10000):
        all_facilities = all_facilities.append(chunk)

    
    return all_facilities

In [5]:
get_facility_by_id('2e21b2de-7c5b-4db7-bb1d-26930af9274d')

,id,deleted,active,name,official_name,code,registration_number,abbreviation,description,number_of_beds,...,_effectivefrom,_effectiveto,ward_id,facility_type_id,keph_level_id,owner_id,parent_id,sub_county_id,town_id,facility_sk
0,2e21b2de-7c5b-4db7-bb1d-26930af9274d,False,True,Kenyatta National Hospital,Kenyatta National Hospital,13023,None,None,None,1455,...,1900-01-01,2199-12-31,e86bec61-9d3f-4825-b23a-87219e8ecce4,aa32be23-693e-45fb-bc3f-0b24d6190de3,169f6176-8166-4d51-9b7c-e5d5fee1e9a1,1b0b8814-a3d0-4e76-bfc9-4dea62a58b60,None,None,4763f1a1-aed4-4678-a1b2-0798935f4cf6,1471

In [6]:
#get a specific county
def get_organization_units():
    conn = get_connection()
    all_orgunits = pd.DataFrame()
    for chunk in pd.read_sql('SELECT * FROM dim_dhis_organisationunit', con=conn, chunksize=10000):
        all_orgunits = all_orgunits.append(chunk)
    
    return all_orgunits

In [7]:
get_organization_units()[['code']]

       code
0      None
1      None
2      None
3      None
4      None
5      None
6     20550
7      None
8      None
9      None
10     None
11     None
12     None
13     None
14     None
15     None
16     None
17     None
18     None
19     None
20     None
21     None
22     None
23     None
24     None
25     None
26     None
27     None
28     None
29     None
...     ...
3852  15303
3853  15096
3854  15081
3855  13401
3856  11480
3857  14481
3858  14593
3859  14654
3860  15058
3861  15557
3862  15579
3863  15781
3864  14974
3865  18098
3866  15271
3867  15291
3868  14209
3869  15059
3870  12087
3871  14540
3872  14854
3873  14996
3874  20192
3875  14643
3876  15054
3877  15186
3878  14636
3879  15092
3880  14975
3881  15731

[13882 rows x 1 columns]

In [15]:
def get_facility_org_units(facility_id):
    #get the facility    
    facility = get_facility_by_id(facility_id)
    facility['code'] = facility['code'].astype(str)
    
    #get all org units
    all_orgunits = get_organization_units()
    all_orgunits['code'] = all_orgunits['code'].astype(str)
    facility_orgunits = pd.merge(all_orgunits, facility, on='code')
    
    return facility_orgunits

In [9]:
get_facility_org_units('2e21b2de-7c5b-4db7-bb1d-26930af9274d')[['organisationunitid'][0]]

0    33707
Name: organisationunitid, dtype: int64

In [10]:
def get_data_element_by_id(data_element_id):
    conn = get_connection()
    all_data_elements = pd.DataFrame()
    query = "SELECT * FROM dim_dhis_dataelement WHERE dataelementid = %s ;" %(data_element_id)
    for chunk in pd.read_sql(query, con=conn, chunksize=10000):
        all_data_elements = all_data_elements.append(chunk)

    
    return all_data_elements

In [11]:
get_data_element_by_id(5154416)

,dataelementid,dataelementname,shortname,code,description,valuetype,domaintype,aggregationtype,zeroissignificant,numbertype,uid,_datecreated,_eventexecutionkey,_lastaction,_mergekey,_sourcesystemcode
0,5154416,MOH 706_Malaria Rapid DiagnosticTests,MOH 706_Malaria Rapid DiagnosticTests,None,Rapid Diagnostic Tests workload and results fo...,int,AGGREGATE,sum,False,number,vORT3FUaS6P,None,None,None,None,None

In [12]:
def get_facility_dataelement_datavalues(dataelement_id, facility_id):
    conn = get_connection()
    orgnaization_unit = get_facility_org_units(facility_id)
    dataelement = get_data_element_by_id(dataelement_id)
    all_datavalues = DataFrame()
    
    query = "SELECT * FROM fact_dhis_datavalue WHERE dataelementid = %s AND sourceid = %s ;" %(dataelement_id, orgnaization_unit['organisationunitid'][0])
    for chunk in pd.read_sql(query, con=conn , chunksize=10000):
        all_datavalues = all_datavalues.append(chunk)
    
    
    return all_datavalues

In [13]:
values = get_facility_dataelement_datavalues(5154416, 'ab3ad01b-9716-4f7c-a4d7-5f69b12b44cb')

In [14]:
values

,dataelementid,periodid,sourceid,categoryoptioncomboid,attributeoptioncomboid,value,storedby,lastupdated,comment,followup,created,_datecreated,_eventexecutionkey,_lastaction,_mergekey,_sourcesystemcode
0,5154416,2505073,24708,5154243,15,59,Tsigo,2015-05-08 16:02:11.170,None,False,2015-05-08 16:02:11.171,2015-12-17,None,None,None,None
1,5154416,2505073,24708,5154302,15,923,Tsigo,2015-05-08 16:01:51.330,None,False,2015-05-08 16:01:51.331,2015-12-17,None,None,None,None
2,5154416,2506122,24708,5154243,15,215,Tsigo,2015-04-13 11:32:37.746,None,False,2015-04-13 11:32:37.747,2015-12-17,None,None,None,None
3,5154416,2506122,24708,5154302,15,942,Tsigo,2015-04-13 11:32:19.001,None,False,2015-04-13 11:32:19.003,2015-12-17,None,None,None,None

In [14]:
def get_facility_dataelement_datavalues2(dataelement_id, facility_id, period_id):
    conn = get_connection()
    orgnaization_unit = get_facility_org_units(facility_id)
    dataelement = get_data_element_by_id(dataelement_id)
    all_datavalues = DataFrame()
    
    query = "SELECT * FROM fact_dhis_datavalue WHERE dataelementid = %s AND sourceid = %s AND periodid = %s ;" %(dataelement_id, orgnaization_unit['organisationunitid'][0], period_id)
    for chunk in pd.read_sql(query, con=conn , chunksize=10000):
        all_datavalues = all_datavalues.append(chunk)
    
    
    return all_datavalues

In [15]:
get_facility_dataelement_datavalues2(5154416, 'ab3ad01b-9716-4f7c-a4d7-5f69b12b44cb', 2505073)

,dataelementid,periodid,sourceid,categoryoptioncomboid,attributeoptioncomboid,value,storedby,lastupdated,comment,followup,created,_datecreated,_eventexecutionkey,_lastaction,_mergekey,_sourcesystemcode
0,5154416,2505073,24708,5154243,15,59,Tsigo,2015-05-08 16:02:11.170,None,False,2015-05-08 16:02:11.171,2015-12-17,None,None,None,None
1,5154416,2505073,24708,5154302,15,923,Tsigo,2015-05-08 16:01:51.330,None,False,2015-05-08 16:01:51.331,2015-12-17,None,None,None,None

In [ ]:
def get_indicator_datavalues(facility_id)