In [1]:
#import needed librar
import pandas as pd
import numpy as np
from pandas import DataFrame, Series
import json
import psycopg2
import os
import re
#

In [2]:
def get_connection():
    conn = {}
    with open('../db_connection/db_config_2.json') as my_file:
        db_conf = json.load(my_file)
    conn_str = "host={} dbname={} user={} password={}".format(
                db_conf['host'], db_conf['database'], 
                db_conf['user'], db_conf['passw'])
    try:
        conn = psycopg2.connect(conn_str)
        return conn
    except:
        return 'error in connecting to database'

In [3]:
get_connection()

In [4]:
pd.read_sql(""" SELECT table_schema,table_name
                FROM information_schema.tables
                WHERE table_schema = 'public'
                ORDER BY table_schema,table_name;""", get_connection())

   table_schema                            table_name
0        public                   common_constituency
1        public                         common_county
2        public                      common_subcounty
3        public                           common_town
4        public                           common_ward
5        public          dim_dhis_categoryoptioncombo
6        public                  dim_dhis_dataelement
7        public                    dim_dhis_indicator
8        public         dim_dhis_indicatordenominator
9        public               dim_dhis_indicatorgroup
10       public        dim_dhis_indicatorgroupmembers
11       public           dim_dhis_indicatornumerator
12       public             dim_dhis_organisationunit
13       public                       dim_dhis_period
14       public                       dim_ihris_cadre
15       public                 dim_ihris_dataelement
16       public                      dim_ihris_period
17       public                   facilities_facility
18       public             facilities_facilitystatus
19       public               facilities_facilitytype
20       public                  facilities_kephlevel
21       public                      facilities_owner
22       public                  facilities_ownertype
23       public             facilities_regulatingbody
24       public           facilities_regulationstatus
25       public                   fact_dhis_datavalue
26       public   fact_dhis_indicatorcalculatedvalues
27       public                  fact_ihris_datavalue
28       public                      fact_kemsa_order
29       public                  fact_kemsa_order_dsl
30       public                 indicators_score_card
31       public                            juldec2015
32       public                           juldec20155
33       public                                 tempo
34       public                        vw_mohdsl_dhis
35       public       vw_mohdsl_dhis_subcounty_county
36       public  vw_mohdsl_dhis_with_subcounty_county
37       public                       vw_mohdsl_ihris
38       public          vw_mohdsl_masterfacilitylist
39       public                      vw_mohdsl_period

In [5]:
# pd.read_sql('SELECT * from dim_ihris_cadre', get_connection())
pd.read_sql('SELECT * from dim_ihris_dataelement', get_connection())
# pd.read_sql('SELECT * from dim_ihris_period', get_connection())
# pd.read_sql('SELECT * from fact_ihris_datavalue', get_connection())
# pd.read_sql('SELECT * from vw_mohdsl_ihris', get_connection())
# pd.read_sql('SELECT * from dim_ihris_cadre', get_connection())

,dataelementid,dataelementname,shortname,code,description,uid,_datecreated,_eventexecutionkey,_lastaction,_mergekey,_sourcesystemcode,cadreid
0,124,Radiologists,Radiologists,None,None,j6rWJohHApN,None,None,None,None,None,8.0
1,69,Medical Engineers,Medical Engineers,None,None,OEuv8LzwRhi,None,None,None,None,None,11.0
2,128,Secretaries,Secretaries,None,None,v7vxTAEGeGA,None,None,None,None,None,NaN
3,25,Cooks,Cooks,None,None,VSS0Q2dsa6T,None,None,None,None,None,NaN
4,63,Laboratory Technologist,Laboratory Technologist,None,None,UkHz85ClyLb,None,None,None,None,None,3.0
5,39,Dermatologists,Dermatologists,None,None,dDwnx4aTRnO,None,None,None,None,None,8.0
6,56,Human Resource Management Officer,Human Resource Management Officer,None,None,c16GFxyRjdh,None,None,None,None,None,NaN
7,107,Paeditrician,Paeditrician,None,None,jcAWqDjKIzu,None,None,None,None,None,8.0
8,57,Human Resource Officers,Human Resource Officers,None,None,BBmiHuvVy3H,None,None,None,None,None,NaN
9,95,Oromaxillofacial Anesthesiologist,Oromaxillofacial Anesthesiologist,None,None,VNtTqsSmDZj,None,None,None,None,None,8.0
10,74,Mortuary Attendants,Mortuary Attendants,None,None,HYNJ8l92EAH,None,None,None,None,None,NaN
11,1,Accidents & Emergency Nurse,Accidents & Emergency Nurse,None,None,pfIYHskfyhQ,None,None,None,None,None,1.0
12,101,Paediatric Dentist,Paediatric Dentist,None,None,a21PHUIxEsY,None,None,None,None,None,9.0
13,100,Other Non Medical officers,Other Non Medical officers,None,None,Vo8wQoODbCL,None,None,None,None,None,NaN
14,36,Dental Officers,Dental Officers,None,None,pKfgH5i1BOj,None,None,None,None,None,9.0
15,79,Neuro-Surgeons,Neuro-Surgeons,None,None,L2hEgD7f7vc,None,None,None,None,None,8.0
16,51,Health Administrative Officers,Health Administrative Officers,None,None,Xh2t1PfIwYU,None,None,None,None,None,NaN
17,48,General Radiographer,General Radiographer,None,None,yMngrAg3ppK,None,None,None,None,None,12.0
18,43,Forensic Nurse,Forensic Nurse,None,None,aOH63LerJKG,None,None,None,None,None,1.0
19,5,Artisans,Artisans,None,None,Ks0OLgk2vM4,None,None,None,None,None,NaN
20,19,CO Dermatology/ Venereology,CO Dermatology/ Venereology,None,None,YOMA61T94eU,None,None,None,None,None,6.0
21,91,Oncology Pharmacist,Oncology Pharmacist,None,None,jhnwdzWFLmM,None,None,None,None,None,4.0
22,26,CO Oncology/Palliative Care,CO Oncology/Palliative Care,None,None,pjEN2QceKNH,None,None,None,None,None,6.0
23,72,Medical Social Work,Medical Social Work,None,None,hr3oi94eCiB,None,None,None,None,None,NaN
24,42,ENT surgeon,ENT surgeon,None,None,z2UWuWGZmky,None,None,None,None,None,8.0
25,76,Nephrologist,Nephrologist,None,None,AiH62Ek8tX1,None,None,None,None,None,8.0
26,68,Medical Engineering Technologists,Medical Engineering Technologists,None,None,Odh5fqB2xB7,None,None,None,None,None,11.0
27,73,Medical Superintendent,Medical Superintendent,None,None,A1Co8DYxQmt,None,None,None,None,None,NaN
28,133,Specialist Physician( Internist),Specialist Physician( Internist),None,None,jKErQCgTFnx,None,None,None,None,None,8.0
29,54,Health Record & Information Technicians,Health Record & Information Technicians,None,None,sERBMwvM1lS,None,None,None,None,None,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
113,7,BSN Nurse,BSN Nurse,None,None,CGN15kwiEla,None,None,None,None,None,1.0
114,14,Clinical Officer ENT/Audiology,Clinical Officer ENT/Audiology,None,None,uAk9AD2NGFv,None,None,None,None,None,6.0
115,96,Oromaxillofacial Surgeon,Oromaxillofacial Surgeon,None,None,vQM2DsXKWlk,None,None,None,None,None,9.0
116,22,Community Health Volunteers(CHV),Community Health Volunteers(CHV),None,None,jQJYCWsxYy1,None,None,None,None,None,17.0
117,125,Radiology Assistants,Radiology Assistants,None,None,x7aE2UY44fu,None,None,None,None,None,12.0
118,60,Kenya Registered Community Health Nurse,Kenya Registered Community Health Nurse,None,None,FheKkDXpzuB,None,None,None,None,None,1.0
119,142,Urological Surgeon,Urological Surgeon,None,None,wGXLcYLdMSz,None,None,None,None,None,8.0
120,17,Clinical psychologists,Clinical psychologists,None,None,QWymS3dj4uU,None,None,None,None,None,14.0
121,126,Registered Midwives,Registered Midwives,None,None,OR7PhOwj9Hl,None,None,None,None,None,1.0
122,49,General Surgeon,General Surgeon,None,None,X3AKw12zLoy,None,None,None,None,None,8.0
123,89,Oncologist,Oncologist,None,None,XExx7Tp3GT3,None,None,None,None,None,8.0
124,27,CO Ophthalmology/Cataract Surgery,CO Ophthalmology/Cataract Surgery,None,None,ShtwHIW1rOC,None,None,None,None,None,6.0
125,15,Clinical Officer Lung & Skin,Clinical Officer Lung & Skin,None,None,KRxsqqbdAGH,None,None,None,None,None,6.0
126,83,Nutrition & Dietetic Officer,Nutrition & Dietetic Officer,None,None,VDr1HyoX3VN,None,None,None,None,None,15.0
127,67,Medical Engineering Technicians,Medical Engineering Technicians,None,None,YW0ZLEwqLfl,None,None,None,None,None,11.0
128,34,CT Scan /MRI Radiographer,CT Scan /MRI Radiographer,None,None,e70PT5nMwM4,None,None,None,None,None,12.0
129,120,Public Health Physician,Public Health Physician,None,None,v3K6qERvoAv,None,None,None,None,None,8.0
130,92,Ophthalmic Nurse,Ophthalmic Nurse,None,None,T0ncWxRLsyF,None,None,None,None,None,1.0
131,104,Paediatric Neurologist,Paediatric Neurologist,None,None,SRLEdIKhmdN,None,None,None,None,None,8.0
132,52,Health Promotion Officers,Health Promotion Officers,None,None,yNj6FkYTNlQ,None,None,None,None,None,2.0
133,50,Graduate Clinical Officers,Graduate Clinical Officers,None,None,qVSVqXlkRsH,None,None,None,None,None,6.0
134,58,ICT Officer,ICT Officer,None,None,oTuRuZD2arX,None,None,None,None,None,5.0
135,138,Theater Nurses,Theater Nurses,None,None,zn9QPAmVtAb,None,None,None,None,None,1.0
136,122,Radiation Monitoring & Safety Officer,Radiation Monitoring & Safety Officer,None,None,q87fNzvmqdb,None,None,None,None,None,12.0
137,114,Physiotherapists,Physiotherapists,None,None,KsJNSSnEWQQ,None,None,None,None,None,7.0
138,130,Sign Language Nurse,Sign Language Nurse,None,None,ikRFvM1QLnn,None,None,None,None,None,1.0
139,123,Radiographers,Radiographers,None,None,x4gjdpZthUi,None,None,None,None,None,12.0
140,111,Pharmaceutical Technologist,Pharmaceutical Technologist,None,None,YJFji18puX6,None,None,None,None,None,4.0
141,62,Laboratory Technician,Laboratory Technician,None,None,rhcvBmo3Prz,None,None,None,None,None,3.0
142,143,iHRIS HIV/AIDS Care & Treatment Officers,iHRIS HIV/AIDS Care & Treatment Officers,None,None,lTSbqTyF8zB,None,None,None,None,None,13.0

In [6]:
pd.read_sql('SELECT * from dim_ihris_cadre', get_connection())

,cadreid,cadrename,_datecreated,_eventexecutionkey,_lastaction,_mergekey,_sourcesystemcode
0,3,Medical Laboratory Scientists,None,None,None,None,None
1,13,VCT Counselors,None,None,None,None,None
2,16,Plaster Staff,None,None,None,None,None
3,17,Community Health Service Staff,None,None,None,None,None
4,15,Nutrition staff,None,None,None,None,None
5,8,Medical Officers & Specialists,None,None,None,None,None
6,4,Pharmacy Staff,None,None,None,None,None
7,5,Health Information ICT,None,None,None,None,None
8,7,Rehabilitative staff,None,None,None,None,None
9,14,Clinical psychologists,None,None,None,None,None
10,11,Hospital Maintenance Staff,None,None,None,None,None
11,10,Environmental Health staff,None,None,None,None,None
12,1,Nurses and specialist nurses,None,None,None,None,None
13,12,Diagnostics & Imaging,None,None,None,None,None
14,9,Dental staff,None,None,None,None,None
15,6,Clinical Officers,None,None,None,None,None
16,2,Health Promotion Officers,None,None,None,None,None
17,18,Medical Social Work,None,None,None,None,None
18,19,Health Administrative staff,None,None,None,None,None
19,20,Support staff,None,None,None,None,None
20,21,Other Non-Medical,None,None,None,None,None
21,22,Medical Social Work,None,None,None,None,None

In [7]:
#get all job types
def get_job_types(in_json=False):
    ''' return a list of all job types
        returns a dataframe or json string in record orientation '''
    query = ''' SELECT dataelementname as name, dataelementid as id, uid, cadreid as cadreId FROM dim_ihris_dataelement '''
    all_job_types = pd.read_sql(query, get_connection())
    
    if in_json:
        return all_job_types.to_json(orient='records')
    else:
        return all_job_types

In [8]:
get_job_types()

                                         name   id          uid  cadreid
0                                Radiologists  124  j6rWJohHApN      8.0
1                           Medical Engineers   69  OEuv8LzwRhi     11.0
2                                 Secretaries  128  v7vxTAEGeGA      NaN
3                                       Cooks   25  VSS0Q2dsa6T      NaN
4                     Laboratory Technologist   63  UkHz85ClyLb      3.0
5                              Dermatologists   39  dDwnx4aTRnO      8.0
6           Human Resource Management Officer   56  c16GFxyRjdh      NaN
7                                Paeditrician  107  jcAWqDjKIzu      8.0
8                     Human Resource Officers   57  BBmiHuvVy3H      NaN
9           Oromaxillofacial Anesthesiologist   95  VNtTqsSmDZj      8.0
10                        Mortuary Attendants   74  HYNJ8l92EAH      NaN
11                Accidents & Emergency Nurse    1  pfIYHskfyhQ      1.0
12                         Paediatric Dentist  101  a21PHUIxEsY      9.0
13                 Other Non Medical officers  100  Vo8wQoODbCL      NaN
14                            Dental Officers   36  pKfgH5i1BOj      9.0
15                             Neuro-Surgeons   79  L2hEgD7f7vc      8.0
16             Health Administrative Officers   51  Xh2t1PfIwYU      NaN
17                       General Radiographer   48  yMngrAg3ppK     12.0
18                             Forensic Nurse   43  aOH63LerJKG      1.0
19                                   Artisans    5  Ks0OLgk2vM4      NaN
20                CO Dermatology/ Venereology   19  YOMA61T94eU      6.0
21                        Oncology Pharmacist   91  jhnwdzWFLmM      4.0
22                CO Oncology/Palliative Care   26  pjEN2QceKNH      6.0
23                        Medical Social Work   72  hr3oi94eCiB      NaN
24                                ENT surgeon   42  z2UWuWGZmky      8.0
25                               Nephrologist   76  AiH62Ek8tX1      8.0
26          Medical Engineering Technologists   68  Odh5fqB2xB7     11.0
27                     Medical Superintendent   73  A1Co8DYxQmt      NaN
28           Specialist Physician( Internist)  133  jKErQCgTFnx      8.0
29    Health Record & Information Technicians   54  sERBMwvM1lS      5.0
..                                        ...  ...          ...      ...
113                                 BSN Nurse    7  CGN15kwiEla      1.0
114            Clinical Officer ENT/Audiology   14  uAk9AD2NGFv      6.0
115                  Oromaxillofacial Surgeon   96  vQM2DsXKWlk      9.0
116          Community Health Volunteers(CHV)   22  jQJYCWsxYy1     17.0
117                      Radiology Assistants  125  x7aE2UY44fu     12.0
118   Kenya Registered Community Health Nurse   60  FheKkDXpzuB      1.0
119                        Urological Surgeon  142  wGXLcYLdMSz      8.0
120                    Clinical psychologists   17  QWymS3dj4uU     14.0
121                       Registered Midwives  126  OR7PhOwj9Hl      1.0
122                           General Surgeon   49  X3AKw12zLoy      8.0
123                                Oncologist   89  XExx7Tp3GT3      8.0
124         CO Ophthalmology/Cataract Surgery   27  ShtwHIW1rOC      6.0
125              Clinical Officer Lung & Skin   15  KRxsqqbdAGH      6.0
126              Nutrition & Dietetic Officer   83  VDr1HyoX3VN     15.0
127           Medical Engineering Technicians   67  YW0ZLEwqLfl     11.0
128                 CT Scan /MRI Radiographer   34  e70PT5nMwM4     12.0
129                   Public Health Physician  120  v3K6qERvoAv      8.0
130                          Ophthalmic Nurse   92  T0ncWxRLsyF      1.0
131                    Paediatric Neurologist  104  SRLEdIKhmdN      8.0
132                 Health Promotion Officers   52  yNj6FkYTNlQ      2.0
133                Graduate Clinical Officers   50  qVSVqXlkRsH      6.0
134                               ICT Officer   58  oTuRuZD2arX      5.0
135                            Theater Nurses  138  zn9QPAmVtAb      1.0
136     Radiation Monitoring & Safety Officer  122  q87fNzvmqdb     12.0
137                          Physiotherapists  114  KsJNSSnEWQQ      7.0
138                       Sign Language Nurse  130  ikRFvM1QLnn      1.0
139                             Radiographers  123  x4gjdpZthUi     12.0
140               Pharmaceutical Technologist  111  YJFji18puX6      4.0
141                     Laboratory Technician   62  rhcvBmo3Prz      3.0
142  iHRIS HIV/AIDS Care & Treatment Officers  143  lTSbqTyF8zB     13.0

[143 rows x 4 columns]

In [9]:
def get_cadres(in_json=False):
    ''' return a list of all job types
        returns a dataframe or json string in record orientation '''
    query = ''' SELECT cadreid as id, cadrename as name FROM dim_ihris_cadre '''
    all_cadres = pd.read_sql(query, get_connection())
    
    if in_json:
        return all_cadres.to_json(orient='records')
    else:
        return all_cadres

In [10]:
get_cadres(False)

    id                            name
0    3   Medical Laboratory Scientists
1   13                  VCT Counselors
2   16                   Plaster Staff
3   17  Community Health Service Staff
4   15                 Nutrition staff
5    8  Medical Officers & Specialists
6    4                  Pharmacy Staff
7    5          Health Information ICT
8    7            Rehabilitative staff
9   14          Clinical psychologists
10  11      Hospital Maintenance Staff
11  10      Environmental Health staff
12   1    Nurses and specialist nurses
13  12           Diagnostics & Imaging
14   9                    Dental staff
15   6               Clinical Officers
16   2       Health Promotion Officers
17  18            Medical Social Work
18  19     Health Administrative staff
19  20                   Support staff
20  21               Other Non-Medical
21  22            Medical Social Work

In [11]:
pd.read_sql('SELECT * from fact_ihris_datavalue', get_connection()).periodid.unique()
# pd.read_sql('SELECT * from facilities_facility', get_connection())

array([2505073])

In [12]:
def get_facility_staff(facility_id, in_json=False):
    ''' Return a list of all staff in the facility'''
    query = """ SELECT a.value, b.dataelementname, b.uid, c.name 
                FROM fact_ihris_datavalue a, dim_ihris_dataelement b, facilities_facility c
                WHERE a.mflcode = c.code 
                    AND a.dataelementid = b.uid
                    AND c.id = '%s'"""%(facility_id)
    staff = pd.read_sql(query, get_connection())
    staff['value'] = pd.to_numeric(staff['value'],downcast='float')
    staff = staff.groupby(['dataelementname']).sum()
    return staff

In [13]:
get_facility_staff('2e21b2de-7c5b-4db7-bb1d-26930af9274d',False)
# staff = get_facility_staff('2e21b2de-7c5b-4db7-bb1d-26930af9274d',False)
# staff['value'] = pd.to_numeric(staff['value'],downcast='float')
# staff = staff.groupby(['dataelementname']).sum()
# staff

                                   value
dataelementname
Dental Officers                     20.0
General Radiographer                 1.0
Health Administrative Officers      62.0
Medical Laboratory Technologists     2.0
Medical Officers                   143.0
Nutrition & Dietetic Officer         2.0
Pharmacist                          19.0
Plaster Technicians/Technologists    1.0

In [14]:
get_facility_staff('2e21b2de-7c5b-4db7-bb1d-26930af9274d',False)

                                   value
dataelementname
Dental Officers                     20.0
General Radiographer                 1.0
Health Administrative Officers      62.0
Medical Laboratory Technologists     2.0
Medical Officers                   143.0
Nutrition & Dietetic Officer         2.0
Pharmacist                          19.0
Plaster Technicians/Technologists    1.0

In [15]:
def get_facility_job_type(facility_id, job_type_id,  in_json=False):
    ''' Return a list of all staff in the facility'''
    query = """ SELECT a.value, b.dataelementname, b.uid, c.name 
                FROM fact_ihris_datavalue a, dim_ihris_dataelement b, facilities_facility c
                WHERE a.mflcode = c.code 
                    AND a.dataelementid = b.uid
                    AND b.uid = '%s'
                    AND c.id = '%s'"""%( job_type_id,facility_id)
    staff = pd.read_sql(query, get_connection())
    return staff

In [16]:
get_facility_job_type('2e21b2de-7c5b-4db7-bb1d-26930af9274d', 'Xh2t1PfIwYU',False)

,value,dataelementname,uid,name
0,22,Health Administrative Officers,Xh2t1PfIwYU,Kenyatta National Hospital
1,40,Health Administrative Officers,Xh2t1PfIwYU,Kenyatta National Hospital

In [17]:
pd.read_sql(""" SELECT a.dataelementid, a.periodid, a.categoryoptioncomboid,a.value, b.dataelementname, c.name 
                FROM fact_ihris_datavalue a, dim_ihris_dataelement b, facilities_facility c
                WHERE a.mflcode = c.code 
                    AND a.dataelementid = b.uid
                    AND b.uid = '%s'
                    AND c.id = '%s'"""%('wL8bTjxwuZ3','2e21b2de-7c5b-4db7-bb1d-26930af9274d'), get_connection())

,dataelementid,periodid,categoryoptioncomboid,value,dataelementname,name
0,wL8bTjxwuZ3,2505073,Lt6CjodPpWZ,51,Medical Officers,Kenyatta National Hospital
1,wL8bTjxwuZ3,2505073,MJAGUpeHkpn,92,Medical Officers,Kenyatta National Hospital

In [18]:
pd.read_sql('''SELECT * from dim_dhis_categoryoptioncombo where uid='%s' ''' %('MJAGUpeHkpn'), get_connection())
# pd.read_sql('''SELECT * from dim_dhis_categoryoptioncombo ''', get_connection())

,categoryoptioncomboid,uid,code,_datecreated,_eventexecutionkey,_lastaction,_mergekey,_sourcesystemcode
0,21316,MJAGUpeHkpn,None,None,None,None,None,None

In [19]:
def get_facility_staff(facility_id, in_json=False):
    ''' Return a list of all staff in the facility'''
    query = """ SELECT a.value, b.dataelementname, b.uid, c.name 
                FROM fact_ihris_datavalue a, dim_ihris_dataelement b, facilities_facility c
                WHERE a.mflcode = c.code 
                    AND a.dataelementid = b.uid
                    AND c.id = '%s'"""%(facility_id)
    staff = pd.read_sql(query, get_connection())
    staff['value'] = pd.to_numeric(staff['value'],downcast='float')
    staff = staff.groupby(['dataelementname']).sum()
    return staff

In [20]:
def get_country_county_number_of_staff(in_json=False):
    '''return a summaryy of all staff in the country'''
    query = """ SELECT a.value, b.dataelementname as jobtype, b.uid, c.name , f.name as county
                FROM fact_ihris_datavalue a, dim_ihris_dataelement b, facilities_facility c, common_ward d, common_constituency e, common_county f
                WHERE a.mflcode = c.code 
                    AND a.dataelementid = b.uid
                    AND c.ward_id = d.id 
                    AND d.constituency_id = e.id 
                    AND e.county_id = f.id"""                
    staff = pd.read_sql(query, get_connection())
    staff['value'] = pd.to_numeric(staff['value'],downcast='float')
    staff = staff.groupby(['county']).sum()[['value']]

    if in_json:
        return staff.to_json()
    else:
        return staff    

get_country_county_number_of_staff()

                   value
county
BARINGO            980.0
BOMET              257.0
BUNGOMA           1060.0
BUSIA              731.0
ELEGEYO-MARAKWET   645.0
EMBU              1126.0
GARISSA            525.0
HOMA BAY          1045.0
ISIOLO             418.0
KAJIADO            646.0
KAKAMEGA          1181.0
KERICHO           1031.0
KIAMBU            2279.0
KILIFI             930.0
KIRINYAGA          836.0
KISII             1493.0
KISUMU            1568.0
KISUMU2           1568.0
KITUI              693.0
KWALE              404.0
LAIKIPIA           805.0
LAMU                13.0
MACHAKOS          1343.0
MAKUENI            828.0
MANDERA            240.0
MARSABIT           366.0
MERU               543.0
MIGORI             620.0
MOMBASA           1649.0
MURANG'A          1154.0
NAIROBI           3019.0
NAKURU            1961.0
NANDI              800.0
NAROK              680.0
NYAMIRA            574.0
NYANDARUA          545.0
NYERI             1472.0
SAMBURU            312.0
SIAYA              676.0
TAITA TAVETA       507.0
TANA RIVER         415.0
THARAKA-NITHI      510.0
TRANS NZOIA        884.0
TURKANA            147.0
UASIN GISHU        763.0
VIHIGA             396.0
WAJIR               74.0
WEST POKOT         513.0

In [ ]:
def get_ward_facility_number_of_staff(ward_id, in_json=False):
    '''return a summaryy of all staff in the country'''
    query = """ SELECT a.value, b.dataelementname as jobtype, b.uid, c.name , f.name as county
                FROM fact_ihris_datavalue a, dim_ihris_dataelement b, facilities_facility c, common_ward d, common_constituency e, common_county f
                WHERE a.mflcode = c.code 
                    AND a.dataelementid = b.uid
                    AND c.ward_id = d.id 
                    AND d.id = e.id = '%s' """%(ward_id)
    staff = pd.read_sql(query, get_connection())
    staff['value'] = pd.to_numeric(staff['value'],downcast='float')
    staff = staff.groupby(['name']).sum()[['value']]

    if in_json:
        return staff.to_json()
    else:
        return staff    

get_country_county_number_of_staff()